/** 
 * @author Brian Floersch <gh123man@gmail.com>
 */


a {font-family:Arial; text-decoration:none; color:#0033aa;}
a:link {}
a:visited {}
a:hover {text-decoration:underline;}
a:active {}



body { 

    font-family:Arial;
    font-size: 80%;
} 

html {
    background: #f6f6f6;

}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
}
a {
    font-family:Arial;
}

a img {
  border:none;
}

.genericButton {

}

.barHead {
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top,  #4c4c4c 0%, #1f619b 2%, #0e1049 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(2%,#1f619b), color-stop(100%,#0e1049)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4c4c4c 0%,#1f619b 2%,#0e1049 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4c4c4c 0%,#1f619b 2%,#0e1049 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4c4c4c 0%,#1f619b 2%,#0e1049 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4c4c4c 0%,#1f619b 2%,#0e1049 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#0e1049',GradientType=0 ); /* IE6-9 */
    box-shadow: 1px 1px 3px #000;
}
