
.left {
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 49%;
    height: 700px;
}

.right {
    float: right;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 49%;
    height: 700px;
}

.projectOverview {
    margin-top: 5px;
    margin-left: 5px;
    width: 478px;
    height: 690px;
}

.projectIssues {
    margin-top: 5px;
    margin-left: 5px;
    width: 478px;
    height: 345px;
}

.projectMembers {
    margin-top: 10px;
    margin-left: 5px;
    width: 478px;
    height: 333px;
}

.fitTasks {
    padding: 10px;
}
